<div class="clearfix col-xs-10 "> </div>
	   
	    <div class="copy col-xs-2 ">
            <a href="http://www.yomify.com" target="_blank"><img src="/images/YOMIFYLOGO.png" class=mylogo></a>
	    </div>
</body>

</html>