 <html>
    <head>
     
     <title>Yomify: Experience world class web development</title>
        <link href="/styles/style.css" rel='stylesheet' type='text/css' />
       <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' type='text/css' />


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Web design, API, application development, web development" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>
<script src="js/modernizr.custom.js"></script>
<!--webfonts-->
		<link href="https://fonts.googleapis.com/css?family=Advent+Pro|Caudex|Marvel" rel="stylesheet">
		<!--//webfonts-->
		<script>
function goBack() {
    window.history.back()
}
</script>

    </head> 
   
      