<% include partials/header%>
  <body class=" about2 myfont">
<div class="container  " >
     <div class="col-sm-10"></div><div class="col-sm-2 regularmargin"> <h3><a  onclick="goBack()"> Go Back</a></h3>  </div>
     <br></br>
<div class=col-sm-12>
    <h1>ABOUT US</h1>
    
</div>
<div class=col-sm-4>
    
</div>
<div class="col-sm-4 centermode  regularmargin">
    <img src="/images/aboutus.jpg" class="centermode thumbnail">
</div>
<div class=col-sm-3>
    
</div>
<div class="col-sm-6 regularmargin">
    
    <h3>" Yomify is an internet based company. Our team is committed to helping our 
    clients achieve and stay competitive. This is achieved through the integration of information technology. 
    Client needs are accurately ascertained and aptly addressed. "</h3>
</div>

<div class="col-sm-6 regularmargin">
  <h3> " We possess extensive expertise in web portal and web applications software development. 
We are driven by a vision to help our clients harness the power of the  information based economy
by using technology to greatly enhance effectiveness of marketing,analytical and business processes. "</h3>
</div>

<div class="col-sm-12 ">
<h3>We provide a user driven service and ensure we meet all the detailed requirements supplied by our clients. 
We are loaded with world class solutions  while also being cost effective. You can count on
us as many other bussiness leaders have.<br><br><br></h3>
</div>


<div class="col-sm-12 ">
    <h2>THE FOUNDER</h2>
    </div>
    
    <div class="col-sm-3 ">
    <img src="/images/founder.jpg" class="foundermode thumbnail">
   </div>
    
    <div class=" col-sm-9 majormargin">
			  
			    <h4> "At Yomify, we know that simplicity of usage is the ultimate sophistication. 
			   We do not pride ourselves in consious competence, rather we exude subconscious competence
			        . . . the expert arena" - Mr. Adisa.</h4>
   </div>
    
    
</div>

<% include partials/footer%>