<% include partials/header%>
  <body class= "contact2 myfont">
<div class="container  " >
    <div class="col-sm-10"></div><div class="col-sm-2 regularmargin"> <h3><a  href="/index"> Go Home</a></h3>  </div>
                       	         
    <br></br>
<div class=col-sm-12>
    <h1>CONTACT US</h1>
    
</div>
<div class=col-sm-4>
    
</div>
<div class="col-sm-4 centermode  regularmargin">
    <img src="/images/contactus.jpg" class="centermode thumbnail">
</div>
<div class=col-sm-3>
    
</div>

<div class="col-sm-8 ">
    
    <h3> " Thank you for getting in touch with us. We will be in touch with you soon. "</h3>
    
    
   
   
</div>


</div>

<% include partials/footer%>