<% include partials/header%>
     <body>
       
       <div class="mybox about box col-xs-6">
        <a href="/about" class="mymidguy"><img src="/images/indexabout.png"><h2>ABOUT</h2></a>
      </div>
    
      
     
     
      
       <div class="mybox services col-xs-6 box">
       
        <a href="/services">
        <img src="/images/services.png"><h2>SERVICES</h2></a>
        </div>
        
       <div class="mybox works col-xs-6 box">
          <a href="/works"><img src="/images/works.png"><h2>WORKS</h2></a>
       </div>
       
       
         <div class="mybox contact col-xs-6 box">
         <a href="/contact"><br><br><br><img src="/images/contact.png"><h2><br>CONTACT</h2></a>
         <div class=col-sm-9></div>
         <div class=" col-sm-3 ">
            <a href="http://www.yomify.com" ><img src="/images/YOMIFYLOGO.png" ></a>
	    </div>
         </div>
        
         
       </div>
       
 
</body>
</head>
</html>